.all {
  list-style: decimal-leading-zero inside;
  padding: 0;
  font-size: .8em;
}

.single {
  line-height: 2;
  padding: 3px;
  color: #464646;
}

.single:hover,
.active {
  cursor: pointer;
  background-color: #f5f5f5;
  color: black;
  transition: all 0.2s linear;
}

.single:hover {
  background-color: #fcfcfc;
  color: #959595;
}
