.container {
  display: flex;
  width: 50%;
}

.timer {
  font: normal 13px/150% Arial, Helvetica, sans-serif;
  padding: 0 10px;
  align-self: center;
}

.progress {
  flex: 1 0 auto;
  align-self: center;
  height: 3px;
  background-color: #ffffff;
  cursor: pointer;
}

.track {
  display: flex;
  outline: solid 1px #585858;
  border: solid 1px #585858;
  transition: all 0.3s linear;
  width: 100%;
}
