.container {
  position: absolute;
  width: 200px;
  height: auto;
  right: 10px;
  top: 10px;
  border: solid 1px #eee;
  background: white;

}

.cover {
  width: 100%;
}

.coverContainer {
  display: inline-block;
  float: left;
  width: 28%;
}

.iteminfo {
  display: inline-block;
  width: 50%;
  font-size: 0.8em;
  padding: 7.5px;
}


.title {
  margin: 0.1em;
}
