.container {
  width: 233px;
}

.albumDetails {

}

.item {
  width: 100%;
}
n
.iteminfo {
  padding-left: 5px;
}

.title {
  font-weight: 200;
  font-size: 1.1em;
}

.covercontainer {
  position: relative;
}
