.container {
  display: flex;
  flex-direction: row;
  flex-basis: 32%;
  border: solid 1px #eeeeee;
  background-color: white;
  padding: 3px;
  margin: 1%;

}

.block {
  flex: 0 0 50%;
}

.item {
  width: 100%;
}

.iteminfo {
  padding-left: 5px;
}

.title {
  font-weight: 200;
  font-size: 1.1em;
}

.covercontainer {
  position: relative;
}
