.container {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12.5px 7.5px;
}

.base {
  background-color: #eeeeee;
  border-top: solid 1px #cccccc;
}
