.container {
  flex: 0 0 50px;
}

.cover {
  width: 32px;
}

.title {
  position: absolute;
  top: 59%;
  left: 52px;
  padding: 3.5px 7.5px;
  white-space: nowrap;
  color: white;
  border-radius: 3px;
  background-color: black;
}
