.container {
  height: 80px;
  position: absolute;
  right: 120px;
  bottom: 73px;
}

.cover {
  width: 80px;
}

.title {
  position: absolute;
  top: 59%;
  left: 52px;
  padding: 3.5px 7.5px;
  white-space: nowrap;
  color: white;
  border-radius: 3px;
  background-color: black;

}